# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Kata.GameOfLife.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pablo\RiderProjects\Kata.GameOfLife\.idea\.idea.Kata.GameOfLife\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
